h1 {
    font-size: 15px  !important;
}
.p {
    font-size: 10px !important;
}
.card__body {
    display: flex;
    justify-content: end !important;
    flex-direction: column;
    align-items: center;
}
.title a {
    text-decoration: none;
    color: black;
}
 img {
    display: inline-block !important;
    max-width: 100%;
}
.card-image  {
    overflow: hidden;
}
.card-image img{
   transition: all 1.3s ease;
}
.card-image:hover img {
    transform: scale(1.2);
}
.pagination-card {
    display: flex;
    justify-content: center;
}